<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="pin-login ion-padding-horizontal">
    <!-- Title -->
    <ion-row>
      <ion-col class="ion-text-center">
        <h4>login</h4>
      </ion-col>
    </ion-row>
    <!-- End Title -->

    <!-- Dots -->
    <ion-row>
      <ion-col class="ion-text-center ion-padding">
        <div *ngFor="let i of [0,1,2,3]" [ngClass]="inputs[i] ? 'pin-dot on' :'pin-dot off'"></div>
      </ion-col>
    </ion-row>
    <!-- End Dots -->

    <!-- Keypad -->
    <ion-row>
      <ion-col class="ion-text-center pin-keypad">
        <ion-row *ngFor="let r of [0,1,2]">
          <ion-col *ngFor="let c of [1,2,3]">
            <ion-button class="smartlook-hide" size="large" shape="round" fill="outline" mode="ios"
              (click)="onPinClicked(r*3+c)">{{r*3+c}}</ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <!-- End Keypad -->

  </ion-grid>
</ion-content>