ion-content ion-toolbar {
  --background: translucent;
}

.login-list {
  margin-bottom: 10px;
}

.login-input {
  --background: transparent;
  --padding-top: 6px;
  --padding-end: 14px;
  --highlight-color-invalid: #000000;

  &.md ion-label {
    color: black !important;
  }


  ion-input {
    font-size: 14px
  }

}